body {
    background: #F8F8F9;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    @include lg(){
        background: $white;
    }
}
.wrapper {
    display: flex;
    width: 100%;
}
.title-1 {
    font-size: 26px;
    color: #363C6A;
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px 0;
}
.txt-box {
    padding-left: 35px;
    position: relative;
    i {
        position: absolute;
        left: 0;
        top: 5px;
    }
}
.bg-white {
    background: $white;
}
.block-time {
    padding: 25px 40px;
    background: #363C6A;
    border-radius: 12px;
    color: $white;
    .title-time {
        font-size: 32px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        line-height: 1.4;
        margin-bottom: 15px;
    }
    .outer {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            p {
                font-size: 18px;
            }
            #countdown {
                ul {
                    list-style: none;
                    padding: 0;
                    display: flex;
                    margin: 0;
                    li {
                        text-align: center;
                        font-size: 18px;
                        text-transform: capitalize;
                        span {
                            display: block;
                            font-size: 40px;
                            min-width: 60px;
                            height: 50px;
                            background: #CC1818;
                            line-height: 54px;
                            border-radius: 5px;
                            margin-bottom: 5px;
                        }
                        margin-left: 20px;
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
           
        }
        .right {
            width: 300px;
            text-align: center;
            strong {
                display: block;
                margin-bottom: 15px;
                font-size: 26px;
                font-weight: 500;
            }
            .btn-style {
                width: 100%;
            }
        }
        
    }
    @include lg(){
        display: block;
        border-radius: 0;
        padding: 25px;
        margin-left: -12px;
        margin-right: -12px;
        .title-time {
            line-height: 1.1;
        }
        .outer {
            display: block;
            .left {
                #countdown {
                    ul {
                        display: flex;
                        width: 100%;
                        /* min-width: 100%; */
                        flex-wrap: wrap;
                        justify-content: space-between;
                        li {
                            margin: 0;
                            justify-content: space-between;
                        }
                    }
                }
            }
            .right{
                width: 100%;
                margin-top: 25px;
                strong {
                    margin-bottom: 5px;
                }
            }
        }
    }
}
.sidebar {
   
    width: 420px;
    .box-register {
       padding-top: 60px;
        position: sticky;
        top: 0;
        left: 0;
        .inner {
            text-align: center;
            background: $white;
            border-radius: 12px;
            box-shadow: 0 0 10px #eee;
            margin-left: 30px;
        }
        i {
            margin: -50px auto 20px auto;
        }
        h2 {
            font-size: 28px;
            font-weight: 700;
            text-align: center;
            font-family: "Roboto", sans-serif;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 20px;
            margin-bottom: 0;
            border-bottom: 1px solid #ddd;
        }
        ul {
            text-align: left;
            padding: 10px 25px 20px 25px;
            margin-bottom: 0;
            list-style: none;
            font-size: 16px;
            li {
                display: flex;
                margin-top: 10px;
                strong {
                    width: 90px;
                    font-weight: 500;
                }
                div {
                    width: 1px;
                    flex-grow: 1;
                    font-weight: 700;
                    span {
                        font-weight: 400;
                        font-size: 16px;
                        color: #999;
                        display: block;
                    }
                }
            }
        }
        .btn-register {
            display: block;
            width: 100%;
            height: 60px;
            background: #CC1818;
            text-align: center;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            line-height: 60px;
            color: $white;
            font-weight: 700;
            text-decoration: none;
            &:hover {
                background: $main;
            }
        }
    }
    @include lg(){
        display: none;
    }
}
.content {
    width: 1px;
    flex-grow: 1;
}
 .banner {
    width: 100%;
   
    // position: relative;
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-image: url(../images/banner/banner.jpg);
    // @include lg {
    //     background-image: url(../images/banner/banner-mobile.jpg);
    //     padding-bottom: 130%;
    // }
    .simpleParallax{
        // max-height: 100%;
        // position: relative;
        max-width: 100%;
    }
    img.desktop {
        width: 100%;
        @include lg {
            display: none;
        }
    }
    img.mobile {
        display: none;
        @include lg {
            display: block;
        }
    }
 }
 .block {
    padding: 15px 20px;
    background: $white;
    border-radius: 12px;
    box-shadow: 0 0 10px #eee;
    margin-bottom: 30px;
    .title {
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: -20px;
        margin-right: -20px;
        font-size: 22px;
        font-weight: 700;
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
    }
    @include lg(){
        padding: 20px 8px;
        box-shadow: none;
    }
 }
 .frm-confirm {
    width: 100%;
 }
 .block-intro {
    position: relative;
    z-index: 1;
    margin-top: -90px;
    padding: 25px 30px;
    background: $white;
    border-radius: 12px;
    box-shadow: 0 0 5px #eee;
    display: flex;
    margin-bottom: 30px;
    .des {
        flex-grow: 1;
        width: 1px;
        padding-left: 25px;
        margin-top: 5px;
        h1 {
            font-family: "Roboto", sans-serif;
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 20px;
        }
       
        .tool {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 25px;
            .outer-btn {
                .btn:first-child{
                    margin-right: 10px;
                }
            }
            .list-social {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                font-size: 15px;
                font-weight: 500;
                justify-content: center;
                margin: 0;
                width: 132px;
                li {
                    margin-left: 15px;
                    &:first-child {
                        width: 100%;
                        margin-bottom: 8px;
                        text-align: center;
                        margin-left: 5px;
                    }
                }
            }
            @include lg(){
                display: block;
                .btn  {
                    width: 100%;
                }
                .list-social {
                    margin-top: 20px;
                    width: 100%;
                    justify-content: center;
                    flex-wrap: wrap;
                    li {
                        margin: 0 7px;
                        &:first-child {
                            width: 100%;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            @include lg(){
                .outer-btn {
                    a.btn-style {
                        margin:  15px 0 0 0;
                        height: auto;
                        padding: 15px 30px;
                        line-height: 1.45;
                        span {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    @include lg(){
        margin: 0;
        padding: 20px 0;
        border-radius: 0;
        box-shadow: none;
        display: block;
        text-align: center;
        .des {
            padding: 0;
            width: 100%;
            h1 {
                margin: 20px 0;
                font-size: 32px;
            }
            .list-times {
                text-align: left;
                font-size: 20px;
                i {
                    margin-right: 5px;
                    vertical-align: middle;
                    // margin-top: -1px;
                }
            }
        }
    }
    &.block-form {
        font-size: 16px;
        width: 100%;
        max-width: 840px;
        margin-left: auto;
        margin-right: auto;
        padding: 25px 40px 35px 40px;
        h2 {
            font-family: "Roboto", sans-serif;
            font-size: 32px;
            font-weight: 700;
            padding: 20px 0;
            margin-bottom: 0;
        }
        label.form-label {
            font-weight: 700;
        }
        .form-control, .form-select{
            height: 60px;
            border-width: 2px;
        }
        .txt-s {
            font-size: 18px;
            color: #999;
            margin-top: -10px;
        }
        .btn  {
            width: 100%;
            font-weight: 500;
        }
        .style {
            .form-label {
                color: #363C6A;
                font-size: 22px;
                line-height: 1.3;
                font-weight: 600;
            }
            .container-check{
                margin-left: 13px;
            }
        }
        @include lg(){
            text-align: left;
            padding: 0;
        }
    }
    &.block-finish {
        display: block;
        font-size: 16px;
        width: 100%;
        max-width: 840px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        box-shadow: none;
        .box-top{
            position: relative;
            z-index: 1;
            padding: 35px;
            background: #ffffff;
            border-radius: 12px;
            margin-bottom: 30px;
            text-align: center;
            .noti {
                margin-top: 30px;
                font-size: 32px;
                font-weight: 700;
                line-height: 1.35;
                font-family: "Roboto", sans-serif;
                span {
                    color: #6588CB;
                    display: block;
                }
            }
            p {
                font-size: 22px;
                margin-top: 20px;
                font-weight: 500;
                line-height: 1.35;
            }
           @include lg(){
           
                padding-left: 0px;
                padding-right: 0px;
            
           }
        }
        .box-info{
            padding: 35px;
            background: #F8F8F9;
            border-radius: 12px;
           
            width: 100%;
            max-width: 768px;
            margin: 0 auto 30px auto;
            h2 {
                font-size: 32px;
                font-weight: 700;
                text-align: center;
                margin-bottom: 30px;
                font-family: "Roboto", sans-serif;
            }
            .list-times  {
                li {
                    margin-bottom: 20px;
                    span {
                        font-weight: 700;
                        .txt-address {
                           
                            font-weight: 400;
                          
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                @include lg(){
                    li {
                        flex-wrap: wrap;
                        > span {
                            width: 100%;
                        }
                    }
                }
            }
            @include lg(){
                width: auto;
                padding-left: 18px;
                padding-right: 18px;
                margin-left: -12px;
                margin-right: -12px;
            
           }
        }
        .btn {
            width: 100%;
            max-width: 768px;
            margin: 0 auto;
            display: block;
        }
    }
 }


 .list-times {
    font-size: 22px;
    font-weight: 500;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    li {
        margin-bottom: 7px;
        display: flex;
        
        i {
            margin-right: 10px;
            margin-top: 6px;
        }
        span {
            margin-left: 5px;
            margin-left: 5px;
            flex-grow: 1;
            width: 1px;
            .txt-address {
                display: block;
                font-size: 16px;
                color: #999;
                font-weight: 400;
                margin-left: 0;
                width: 100%;
            }
        }
        &.txt-break {
            flex-wrap: wrap;
            span {
                width: 100%;
            }
        }
    }
    @include lg(){
        text-align: left;
        font-size: 20px;
        i {
            margin-right: 5px;
            vertical-align: middle;
            margin-top: -1px;
        }
    }
}

.btn-ks{
    display: flex;
    height: 64px;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    background: #fff;
    color: #242428;
    font-size: 20px;
    font-weight: 700;
    border-radius: 12px;
    text-decoration: none;
    i {
        margin-right: 8px;
    }
    &:hover {
        border-color: #242428;
    }

}
.top-countdown {
    margin-bottom: 40px;
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid #ddd;
   > span { font-size: 22px; display: block; margin-bottom: 10px;}
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        li {
            margin-left: 10px;
            display: flex;
            align-items: end;
            font-size: 21px;
            text-transform: capitalize;
            font-weight: 500;
            span {
                min-width: 60px;
                height: 50px;
                line-height: 50px;
                background: #242428;
                color: #fff;
                display: block;
                text-align: center;
                font-size: 40px;
                border-radius: 5px;
                margin-right: 10px;
            }
        }
    }
    @include lg(){
        margin-bottom: 20px;
        > span {
            font-weight: 700;
        }
        ul {
            justify-content: space-around;
            li {
                display: block;
                margin: 0;
                span {
                    margin-right: 0;
                }
            }
        }
    }
}

.right-countdown {
    padding-top: 15px;
    border-top: 1px solid #ddd;
    p {
        margin-bottom: 0px;
        font-weight: 700;
    }
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        margin: 0;
        justify-content: center;
        li {
            text-align: center;
            font-size: 18px;
            width: 60px;
            display: block!important;
            font-weight: 500;
            text-transform: capitalize;
            margin-top: 0!important;
            span {
                display: block;
                font-size: 40px;
                min-width: 60px;
                height: 50px;
                background: #212529;
                line-height: 54px;
                border-radius: 5px;
                margin-bottom: 5px;
                color: #fff;
            }
            margin-left: 20px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}