@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInDown {
  animation-name: fadeInDown;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.animated-bgd {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

@keyframes floating-arrow {
  0% {
    transform: translate(-50%, 0);
  }
  65% {
    transform: translate(-50%, 15px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
.floating-arrow {
  animation-name: floating-arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* The container */
.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #004FC4;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
  left: 4px;
  top: 4px;
  width: 14px;
  height: 14px;
  background-color: #004FC4;
  border-radius: 50%;
  content: "";
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-size: cover !important;
}
.icon.icon-calendar {
  width: 120px;
  height: 120px;
  background: url(../images/icon/icon-calendar.png) center no-repeat;
}
.icon.icon-date {
  width: 20px;
  height: 20px;
  background: url(../images/icon/icon-date.svg) center no-repeat;
}
.icon.icon-play {
  width: 20px;
  height: 20px;
  background: url(../images/icon/icon-play.svg) center no-repeat;
}
.icon.icon-clock {
  width: 20px;
  height: 20px;
  background: url(../images/icon/icon-clock.svg) center no-repeat;
}
.icon.icon-address {
  width: 20px;
  height: 20px;
  background: url(../images/icon/icon-location.svg) center no-repeat;
}
.icon.icon-facebook {
  width: 28px;
  height: 28px;
  background: url(../images/icon/icon-facebook.png) center no-repeat;
}
.icon.icon-ins {
  width: 28px;
  height: 28px;
  background: url(../images/icon/icon-ins.png) center no-repeat;
}
.icon.icon-tiktok {
  width: 28px;
  height: 28px;
  background: url(../images/icon/icon-tiktok.png) center no-repeat;
}
.icon.icon-ticket {
  width: 100px;
  height: 100px;
  background: url(../images/icon/icon-ticket.png) center no-repeat;
}
.icon.icon-gift {
  width: 166px;
  height: 164px;
  background: url(../images/icon/icon-gift.svg) center no-repeat;
}
.icon.icon-home {
  width: 20px;
  height: 20px;
  background: url(../images/icon/icon-home.svg) center no-repeat;
}
.icon.icon-user {
  width: 20px;
  height: 20px;
  background: url(../images/icon/icon-user.svg) center no-repeat;
}
.icon.icon-phone {
  width: 20px;
  height: 20px;
  background: url(../images/icon/icon-phone.svg) center no-repeat;
}
.icon.icon-mail {
  width: 20px;
  height: 20px;
  background: url(../images/icon/icon-mail.svg) center no-repeat;
}
.icon.icon-book {
  width: 20px;
  height: 20px;
  background: url(../images/icon/icon-book.svg) center no-repeat;
}
.icon.icon-ks {
  width: 32px;
  height: 32px;
  background: url(../images/icon/icon-ks.svg) center no-repeat;
}

.btn, button {
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  transition: all 0.2s ease-in-out 0s;
}
.btn.btn-style, button.btn-style {
  height: 60px;
  padding: 0 30px;
  background: #CC1818;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  line-height: 60px;
  border-radius: 12px;
  font-weight: 500;
}
.btn.btn-style .icon-vote-white, button.btn-style .icon-vote-white {
  margin-left: 10px;
}
.btn.btn-style:hover, button.btn-style:hover {
  background: #EE3322;
  color: #ffffff;
}

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #C90009;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #C90009 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: relative;
  z-index: 1;
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: linear-gradient(90deg, #E30E16 0%, #C90009 100%);
}
.header a img {
  height: 30px;
}

.footer {
  padding: 20px 0 0 0;
  margin-top: 50px;
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.footer .top-m {
  justify-content: space-between;
  padding: 15px 0;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
  padding: 10px 0;
  align-items: center;
  display: none;
}
.footer .top-m p {
  margin-bottom: 0;
}
.footer .top-m .list-socials {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.footer .top-m .list-socials li {
  margin-left: 10px;
}
.footer .top-m .list-socials li a {
  display: block;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 24px;
}
@media screen and (max-width: 991px) {
  .footer .top-m {
    display: flex;
  }
}
.footer .top-footer {
  display: flex;
  border-bottom: 2px solid #EE3322;
  padding-bottom: 12px;
}
.footer .top-footer a {
  text-transform: uppercase;
  color: #242428;
  margin-left: 13px;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
}
.footer .top-footer a:hover {
  color: #EE3322;
}
.footer .top-footer a:first-child {
  margin-left: 0;
}
@media screen and (max-width: 1400px) {
  .footer .top-footer a {
    font-size: 11px;
  }
}
@media screen and (max-width: 991px) {
  .footer .top-footer {
    display: none;
  }
}
.footer .mid-footer {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}
.footer .mid-footer p {
  margin-bottom: 0;
}
.footer .mid-footer .box-1 {
  max-width: 50%;
}
.footer .mid-footer .box-1 a {
  display: block;
  text-decoration: none;
  color: #242428;
  font-weight: 500;
}
.footer .mid-footer .box-1 a:hover {
  color: #EE3322;
}
.footer .mid-footer .box-2 {
  max-width: 40%;
}
.footer .mid-footer .box-2 address {
  margin-bottom: 0;
}
.footer .mid-footer .box-2 p a {
  text-decoration: none;
  color: #242428;
}
.footer .mid-footer .box-2 p a:hover {
  color: red;
}
.footer .mid-footer .box-3 a {
  display: block;
  text-decoration: none;
  color: #242428;
  font-weight: 500;
}
.footer .mid-footer .box-3 a:hover {
  color: #EE3322;
}
@media screen and (max-width: 991px) {
  .footer .mid-footer .box-3 {
    display: flex;
    justify-content: center;
  }
  .footer .mid-footer .box-3 a {
    padding: 0 6px;
    position: relative;
  }
  .footer .mid-footer .box-3 a:after {
    position: absolute;
    left: -1px;
    top: 4px;
    width: 1px;
    height: 12px;
    content: "";
    background: #444;
  }
  .footer .mid-footer .box-3 a:first-child {
    padding-left: 0;
  }
  .footer .mid-footer .box-3 a:first-child::after {
    display: none;
  }
  .footer .mid-footer .box-3 a:last-child {
    padding-right: 0;
  }
}
@media screen and (max-width: 991px) {
  .footer .mid-footer {
    display: block;
  }
  .footer .mid-footer .box-1, .footer .mid-footer .box-2, .footer .mid-footer .box-3 {
    max-width: 100%;
    margin-top: 12px;
  }
  .footer .mid-footer .box-1 {
    margin-top: 0;
  }
}
.footer .bottom-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}
@media screen and (max-width: 1400px) {
  .footer .bottom-footer a img {
    height: 30px !important;
  }
}
@media screen and (max-width: 991px) {
  .footer .bottom-footer {
    display: none;
  }
}
.footer .copyright {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.footer .copyright p {
  margin-bottom: 0;
}
.footer .copyright .list-socials {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.footer .copyright .list-socials li {
  margin-left: 10px;
}
.footer .copyright .list-socials li a {
  display: block;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 24px;
}
@media screen and (max-width: 991px) {
  .footer .copyright {
    padding-top: 0;
    color: #8f8f8f;
    justify-content: center;
  }
  .footer .copyright > p span {
    display: block;
    margin-top: 3px;
  }
  .footer .copyright .list-socials {
    display: none;
  }
}

body {
  background: #F8F8F9;
  font-family: "Inter", sans-serif;
  font-size: 18px;
}
@media screen and (max-width: 991px) {
  body {
    background: #ffffff;
  }
}

.wrapper {
  display: flex;
  width: 100%;
}

.title-1 {
  font-size: 26px;
  color: #363C6A;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0;
}

.txt-box {
  padding-left: 35px;
  position: relative;
}
.txt-box i {
  position: absolute;
  left: 0;
  top: 5px;
}

.bg-white {
  background: #ffffff;
}

.block-time {
  padding: 25px 40px;
  background: #363C6A;
  border-radius: 12px;
  color: #ffffff;
}
.block-time .title-time {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 15px;
}
.block-time .outer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-time .outer .left p {
  font-size: 18px;
}
.block-time .outer .left #countdown ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}
.block-time .outer .left #countdown ul li {
  text-align: center;
  font-size: 18px;
  text-transform: capitalize;
  margin-left: 20px;
}
.block-time .outer .left #countdown ul li span {
  display: block;
  font-size: 40px;
  min-width: 60px;
  height: 50px;
  background: #CC1818;
  line-height: 54px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.block-time .outer .left #countdown ul li:first-child {
  margin-left: 0;
}
.block-time .outer .right {
  width: 300px;
  text-align: center;
}
.block-time .outer .right strong {
  display: block;
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: 500;
}
.block-time .outer .right .btn-style {
  width: 100%;
}
@media screen and (max-width: 991px) {
  .block-time {
    display: block;
    border-radius: 0;
    padding: 25px;
    margin-left: -12px;
    margin-right: -12px;
  }
  .block-time .title-time {
    line-height: 1.1;
  }
  .block-time .outer {
    display: block;
  }
  .block-time .outer .left #countdown ul {
    display: flex;
    width: 100%;
    /* min-width: 100%; */
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .block-time .outer .left #countdown ul li {
    margin: 0;
    justify-content: space-between;
  }
  .block-time .outer .right {
    width: 100%;
    margin-top: 25px;
  }
  .block-time .outer .right strong {
    margin-bottom: 5px;
  }
}

.sidebar {
  width: 420px;
}
.sidebar .box-register {
  padding-top: 60px;
  position: sticky;
  top: 0;
  left: 0;
}
.sidebar .box-register .inner {
  text-align: center;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 10px #eee;
  margin-left: 30px;
}
.sidebar .box-register i {
  margin: -50px auto 20px auto;
}
.sidebar .box-register h2 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
}
.sidebar .box-register ul {
  text-align: left;
  padding: 10px 25px 20px 25px;
  margin-bottom: 0;
  list-style: none;
  font-size: 16px;
}
.sidebar .box-register ul li {
  display: flex;
  margin-top: 10px;
}
.sidebar .box-register ul li strong {
  width: 90px;
  font-weight: 500;
}
.sidebar .box-register ul li div {
  width: 1px;
  flex-grow: 1;
  font-weight: 700;
}
.sidebar .box-register ul li div span {
  font-weight: 400;
  font-size: 16px;
  color: #999;
  display: block;
}
.sidebar .box-register .btn-register {
  display: block;
  width: 100%;
  height: 60px;
  background: #CC1818;
  text-align: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  line-height: 60px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}
.sidebar .box-register .btn-register:hover {
  background: #EE3322;
}
@media screen and (max-width: 991px) {
  .sidebar {
    display: none;
  }
}

.content {
  width: 1px;
  flex-grow: 1;
}

.banner {
  width: 100%;
}
.banner .simpleParallax {
  max-width: 100%;
}
.banner img.desktop {
  width: 100%;
}
@media screen and (max-width: 991px) {
  .banner img.desktop {
    display: none;
  }
}
.banner img.mobile {
  display: none;
}
@media screen and (max-width: 991px) {
  .banner img.mobile {
    display: block;
  }
}

.block {
  padding: 15px 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 10px #eee;
  margin-bottom: 30px;
}
.block .title {
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20px;
  margin-right: -20px;
  font-size: 22px;
  font-weight: 700;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  .block {
    padding: 20px 8px;
    box-shadow: none;
  }
}

.frm-confirm {
  width: 100%;
}

.block-intro {
  position: relative;
  z-index: 1;
  margin-top: -90px;
  padding: 25px 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 5px #eee;
  display: flex;
  margin-bottom: 30px;
}
.block-intro .des {
  flex-grow: 1;
  width: 1px;
  padding-left: 25px;
  margin-top: 5px;
}
.block-intro .des h1 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}
.block-intro .des .tool {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.block-intro .des .tool .outer-btn .btn:first-child {
  margin-right: 10px;
}
.block-intro .des .tool .list-social {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
  justify-content: center;
  margin: 0;
  width: 132px;
}
.block-intro .des .tool .list-social li {
  margin-left: 15px;
}
.block-intro .des .tool .list-social li:first-child {
  width: 100%;
  margin-bottom: 8px;
  text-align: center;
  margin-left: 5px;
}
@media screen and (max-width: 991px) {
  .block-intro .des .tool {
    display: block;
  }
  .block-intro .des .tool .btn {
    width: 100%;
  }
  .block-intro .des .tool .list-social {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .block-intro .des .tool .list-social li {
    margin: 0 7px;
  }
  .block-intro .des .tool .list-social li:first-child {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 991px) {
  .block-intro .des .tool .outer-btn a.btn-style {
    margin: 15px 0 0 0;
    height: auto;
    padding: 15px 30px;
    line-height: 1.45;
  }
  .block-intro .des .tool .outer-btn a.btn-style span {
    display: block;
  }
}
@media screen and (max-width: 991px) {
  .block-intro {
    margin: 0;
    padding: 20px 0;
    border-radius: 0;
    box-shadow: none;
    display: block;
    text-align: center;
  }
  .block-intro .des {
    padding: 0;
    width: 100%;
  }
  .block-intro .des h1 {
    margin: 20px 0;
    font-size: 32px;
  }
  .block-intro .des .list-times {
    text-align: left;
    font-size: 20px;
  }
  .block-intro .des .list-times i {
    margin-right: 5px;
    vertical-align: middle;
  }
}
.block-intro.block-form {
  font-size: 16px;
  width: 100%;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 40px 35px 40px;
}
.block-intro.block-form h2 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  padding: 20px 0;
  margin-bottom: 0;
}
.block-intro.block-form label.form-label {
  font-weight: 700;
}
.block-intro.block-form .form-control, .block-intro.block-form .form-select {
  height: 60px;
  border-width: 2px;
}
.block-intro.block-form .txt-s {
  font-size: 18px;
  color: #999;
  margin-top: -10px;
}
.block-intro.block-form .btn {
  width: 100%;
  font-weight: 500;
}
.block-intro.block-form .style .form-label {
  color: #363C6A;
  font-size: 22px;
  line-height: 1.3;
  font-weight: 600;
}
.block-intro.block-form .style .container-check {
  margin-left: 13px;
}
@media screen and (max-width: 991px) {
  .block-intro.block-form {
    text-align: left;
    padding: 0;
  }
}
.block-intro.block-finish {
  display: block;
  font-size: 16px;
  width: 100%;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-shadow: none;
}
.block-intro.block-finish .box-top {
  position: relative;
  z-index: 1;
  padding: 35px;
  background: #ffffff;
  border-radius: 12px;
  margin-bottom: 30px;
  text-align: center;
}
.block-intro.block-finish .box-top .noti {
  margin-top: 30px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.35;
  font-family: "Roboto", sans-serif;
}
.block-intro.block-finish .box-top .noti span {
  color: #6588CB;
  display: block;
}
.block-intro.block-finish .box-top p {
  font-size: 22px;
  margin-top: 20px;
  font-weight: 500;
  line-height: 1.35;
}
@media screen and (max-width: 991px) {
  .block-intro.block-finish .box-top {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.block-intro.block-finish .box-info {
  padding: 35px;
  background: #F8F8F9;
  border-radius: 12px;
  width: 100%;
  max-width: 768px;
  margin: 0 auto 30px auto;
}
.block-intro.block-finish .box-info h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
}
.block-intro.block-finish .box-info .list-times li {
  margin-bottom: 20px;
}
.block-intro.block-finish .box-info .list-times li span {
  font-weight: 700;
}
.block-intro.block-finish .box-info .list-times li span .txt-address {
  font-weight: 400;
}
.block-intro.block-finish .box-info .list-times li:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 991px) {
  .block-intro.block-finish .box-info .list-times li {
    flex-wrap: wrap;
  }
  .block-intro.block-finish .box-info .list-times li > span {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .block-intro.block-finish .box-info {
    width: auto;
    padding-left: 18px;
    padding-right: 18px;
    margin-left: -12px;
    margin-right: -12px;
  }
}
.block-intro.block-finish .btn {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  display: block;
}

.list-times {
  font-size: 22px;
  font-weight: 500;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.list-times li {
  margin-bottom: 7px;
  display: flex;
}
.list-times li i {
  margin-right: 10px;
  margin-top: 6px;
}
.list-times li span {
  margin-left: 5px;
  margin-left: 5px;
  flex-grow: 1;
  width: 1px;
}
.list-times li span .txt-address {
  display: block;
  font-size: 16px;
  color: #999;
  font-weight: 400;
  margin-left: 0;
  width: 100%;
}
.list-times li.txt-break {
  flex-wrap: wrap;
}
.list-times li.txt-break span {
  width: 100%;
}
@media screen and (max-width: 991px) {
  .list-times {
    text-align: left;
    font-size: 20px;
  }
  .list-times i {
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -1px;
  }
}

.btn-ks {
  display: flex;
  height: 64px;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  background: #fff;
  color: #242428;
  font-size: 20px;
  font-weight: 700;
  border-radius: 12px;
  text-decoration: none;
}
.btn-ks i {
  margin-right: 8px;
}
.btn-ks:hover {
  border-color: #242428;
}

.top-countdown {
  margin-bottom: 40px;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #ddd;
}
.top-countdown > span {
  font-size: 22px;
  display: block;
  margin-bottom: 10px;
}
.top-countdown ul {
  list-style: none;
  padding: 0;
  display: flex;
}
.top-countdown ul li {
  margin-left: 10px;
  display: flex;
  align-items: end;
  font-size: 21px;
  text-transform: capitalize;
  font-weight: 500;
}
.top-countdown ul li span {
  min-width: 60px;
  height: 50px;
  line-height: 50px;
  background: #242428;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 40px;
  border-radius: 5px;
  margin-right: 10px;
}
@media screen and (max-width: 991px) {
  .top-countdown {
    margin-bottom: 20px;
  }
  .top-countdown > span {
    font-weight: 700;
  }
  .top-countdown ul {
    justify-content: space-around;
  }
  .top-countdown ul li {
    display: block;
    margin: 0;
  }
  .top-countdown ul li span {
    margin-right: 0;
  }
}

.right-countdown {
  padding-top: 15px;
  border-top: 1px solid #ddd;
}
.right-countdown p {
  margin-bottom: 0px;
  font-weight: 700;
}
.right-countdown ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  justify-content: center;
}
.right-countdown ul li {
  text-align: center;
  font-size: 18px;
  width: 60px;
  display: block !important;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 0 !important;
  margin-left: 20px;
}
.right-countdown ul li span {
  display: block;
  font-size: 40px;
  min-width: 60px;
  height: 50px;
  background: #212529;
  line-height: 54px;
  border-radius: 5px;
  margin-bottom: 5px;
  color: #fff;
}
.right-countdown ul li:first-child {
  margin-left: 0;
}/*# sourceMappingURL=style.css.map */