


@font-face {
    font-family: 'Poppins';
    src: url('../fonts/FzPoppins-Bold.woff2') format('woff2'),
        url('../fonts/FzPoppins-Bold.woff') format('woff'),
        url('../fonts/FzPoppins-Bold.svg#FzPoppins-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/FzPoppins-SemiBold.woff2') format('woff2'),
        url('../fonts/FzPoppins-SemiBold.woff') format('woff'),
        url('../fonts/FzPoppins-SemiBold.svg#FzPoppins-SemiBold') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/FzPoppins-Regular.woff2') format('woff2'),
        url('../fonts/FzPoppins-Regular.woff') format('woff'),
        url('../fonts/FzPoppins-Regular.svg#FzPoppins-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
body {
    margin: 0;
}
*{
    box-sizing: border-box;
}
.box-score {
    width: 100%;
    height: 250px;
    max-width: 300px;
    margin: 0 auto;
    background-image: linear-gradient(to left top, #a6dca2, #a6dca2, #a6dca2, #c5e69a, #d1e998, #d1e998, #d1e998, #d1e998, #c5e69a, #a6dca2, #a6dca2, #a6dca2);
    .box-content{
        font-size: 12px;
        border: 0;
        text-align: center;
        font-family: 'Poppins';
        font-weight: 400;
       
        padding-top: 0;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 0;
        .btn-closed {
            position: absolute;
            right: 20px;
            top: 20px;
            border: 0;
            background: none;
            cursor: pointer;
            z-index: 9999;
            transition: all 200ms linear 100ms;
            rotate: 0deg;
            &:hover {
                rotate: 90deg;
            }
        }
        .banner {
            width: 100%;
            max-width: 150px;
            margin: 0px auto;
            display: block;
        }
        .title-banner{
            font-size: 17px;
            font-weight: 700;
            text-transform: uppercase;
            margin-top: -5px;
        }
        .outer-check {
            display: flex;
            align-items: center;
            margin-top:5px;
            .txt {
                text-align: left;
                width: 1px;
                flex-grow: 1;
                padding-left: 10px;
                margin: 0;
                i {
                    font-style: normal;
                    margin-top: 3px;
                    display: block;
                }
               }
               .check {
                width: 60px;
                height: 60px;
               
            }
        }
        
        .txt {
            line-height: 1.25;
            margin-top: 2px;
            span {
                color: #2B59FB;
                font-weight: 700;
                text-decoration: underline;
                
            }
            strong {
                font-weight: 700;
            }
        }
        .frm-register {
            width: 100%;
            max-width: 280px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            .frm-input {
                width: 100%;
                padding: 0 110px 0 20px;
                height: 36px;
                line-height: 36px;
                border: 0;
                border-radius: 23px;
                &:focus {
                    outline: none;
                    border: 0;
                }
            }
            .btn-register {
                height: 36px;
                line-height: 36px;
                border: 0;
                border-radius: 23px;
                background: #E32825;
                color: #fff;
                font-size: 14px;
                font-weight: 500;
                padding: 0;
                width: 100px;
                text-align: center;
                position: absolute;
                right: 0;
                top: 0;
                opacity: 0.9;
                &:hover {
                    opacity: 1;
                }
            }
            // @include xs(){
            //     .frm-input {
            //         padding-right: 20px;
            //     }
            //     .btn-register {
            //         width: 100%;
            //         position: static;
            //         margin-top: 12px;
            //     }
            // }
        }
    }
    
}