@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInDown {
  animation-name: fadeInDown;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.animated-bgd {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

@keyframes floating-arrow {
  0% {
    transform: translate(-50%, 0);
  }
  65% {
    transform: translate(-50%, 15px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
.floating-arrow {
  animation-name: floating-arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* The container */
.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #004FC4;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
  left: 4px;
  top: 4px;
  width: 14px;
  height: 14px;
  background-color: #004FC4;
  border-radius: 50%;
  content: "";
}

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #C90009;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #C90009 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/FzPoppins-Bold.woff2") format("woff2"), url("../fonts/FzPoppins-Bold.woff") format("woff"), url("../fonts/FzPoppins-Bold.svg#FzPoppins-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/FzPoppins-SemiBold.woff2") format("woff2"), url("../fonts/FzPoppins-SemiBold.woff") format("woff"), url("../fonts/FzPoppins-SemiBold.svg#FzPoppins-SemiBold") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/FzPoppins-Regular.woff2") format("woff2"), url("../fonts/FzPoppins-Regular.woff") format("woff"), url("../fonts/FzPoppins-Regular.svg#FzPoppins-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.box-score {
  width: 100%;
  height: 250px;
  max-width: 300px;
  margin: 0 auto;
  background-image: linear-gradient(to left top, #a6dca2, #a6dca2, #a6dca2, #c5e69a, #d1e998, #d1e998, #d1e998, #d1e998, #c5e69a, #a6dca2, #a6dca2, #a6dca2);
}
.box-score .box-content {
  font-size: 12px;
  border: 0;
  text-align: center;
  font-family: "Poppins";
  font-weight: 400;
  padding-top: 0;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 0;
}
.box-score .box-content .btn-closed {
  position: absolute;
  right: 20px;
  top: 20px;
  border: 0;
  background: none;
  cursor: pointer;
  z-index: 9999;
  transition: all 200ms linear 100ms;
  rotate: 0deg;
}
.box-score .box-content .btn-closed:hover {
  rotate: 90deg;
}
.box-score .box-content .banner {
  width: 100%;
  max-width: 150px;
  margin: 0px auto;
  display: block;
}
.box-score .box-content .title-banner {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -5px;
}
.box-score .box-content .outer-check {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.box-score .box-content .outer-check .txt {
  text-align: left;
  width: 1px;
  flex-grow: 1;
  padding-left: 10px;
  margin: 0;
}
.box-score .box-content .outer-check .txt i {
  font-style: normal;
  margin-top: 3px;
  display: block;
}
.box-score .box-content .outer-check .check {
  width: 60px;
  height: 60px;
}
.box-score .box-content .txt {
  line-height: 1.25;
  margin-top: 2px;
}
.box-score .box-content .txt span {
  color: #2B59FB;
  font-weight: 700;
  text-decoration: underline;
}
.box-score .box-content .txt strong {
  font-weight: 700;
}
.box-score .box-content .frm-register {
  width: 100%;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.box-score .box-content .frm-register .frm-input {
  width: 100%;
  padding: 0 110px 0 20px;
  height: 36px;
  line-height: 36px;
  border: 0;
  border-radius: 23px;
}
.box-score .box-content .frm-register .frm-input:focus {
  outline: none;
  border: 0;
}
.box-score .box-content .frm-register .btn-register {
  height: 36px;
  line-height: 36px;
  border: 0;
  border-radius: 23px;
  background: #E32825;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  width: 100px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.9;
}
.box-score .box-content .frm-register .btn-register:hover {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */