.footer {
    padding: 20px 0 0 0;
    margin-top: 50px;
    background: $white;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    .top-m{
        justify-content: space-between;
        padding: 15px 0;
        border-top: 1px dashed #ddd;
        border-bottom: 1px dashed #ddd;
        padding: 10px 0;
        align-items: center;
        display: none;
        p {
            margin-bottom: 0;
           
        }
        .list-socials{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            li {
                margin-left: 10px;
                a {
                    display: block;
                    border: 1px solid #999;
                    border-radius: 50%;
                    width: 26px;
                    height: 26px;
                    text-align: center;
                    line-height: 24px;
                }
            }
        }
        @include lg(){
            display: flex;
        }
    }
    .top-footer {
        display: flex;
        border-bottom: 2px solid $main;
        padding-bottom: 12px;
        a {
            text-transform: uppercase;
            color: $text;
            margin-left: 13px;
            font-size: 12px;
            text-decoration: none;
            font-weight: bold;
            &:hover {
                color: $main;
            }
            &:first-child {
                margin-left: 0;
            }
        }
        @include xxl(){
            a {
                font-size: 11px;
            }
        }
        @include lg(){
            display: none;
        }
    }
    .mid-footer {
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        p {
            margin-bottom: 0;
        }
        .box-1 {
            max-width: 50%;
            a {
                display: block;
                text-decoration: none;
                color: $text;
                font-weight: 500;
                &:hover {
                    color: $main;
                }
            }
        }
        .box-2 {
            max-width: 40%;
            address {
                margin-bottom: 0;
            }
            p {
                a {
                    text-decoration: none;
                    color: #242428;
                    &:hover {
                        color: red;
                    }
                }
            }
            
        }
        .box-3 {
            a {
                display: block;
                text-decoration: none;
                color: $text;
                font-weight: 500;
                &:hover {
                    color: $main;
                }
            }
            @include lg(){
                display: flex;
                justify-content: center;
                a {
                    padding: 0 6px;
                    position: relative;
                    &:after {
                        position: absolute;
                        left: -1px;
                        top: 4px;
                        width: 1px;
                        height: 12px;
                        content: "";
                        background: #444;
                    }
                    &:first-child {
                        padding-left: 0;
                        &::after {
                            display: none;
                        }
                    }
                    &:last-child {
                        padding-right: 0;
                        
                    }
                }
            }
        }
        @include lg(){
            display: block;
            .box-1, .box-2, .box-3 {
                max-width: 100%;
                margin-top: 12px;
            }
            .box-1 {
                margin-top: 0;
            }
        }
    }
    .bottom-footer{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 15px 0;
        @include xxl(){
            a {
                img {
                    height: 30px!important;
                }
            }
        }
        @include lg(){
            display: none;
            
        }
    }
    .copyright {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        p {
            margin-bottom: 0;
           
        }
        .list-socials{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            li {
                margin-left: 10px;
                a {
                    display: block;
                    border: 1px solid #999;
                    border-radius: 50%;
                    width: 26px;
                    height: 26px;
                    text-align: center;
                    line-height: 24px;
                }
            }
        }
        @include lg(){
            padding-top: 0;
            color: #8f8f8f;
            justify-content: center;
            >p {
               
                span {
                    display: block;
                    margin-top: 3px;
                }
            }
            .list-socials {
                display: none;
              
            }
        }
    }
}