body {
    background: #F8F8F9;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #242428;
    @include lg(){
        background: $white;
    }
}
.wrapper {
    display: flex;
    width: 100%;
}
.title-1 {
    font-size: 26px;
    color: #3454A5;
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px 0;
}
.txt-box {
    padding-left: 35px;
    position: relative;
    i {
        position: absolute;
        left: 0;
        top: 5px;
    }
}
.bg-white {
    background: $white;
}
.block-time {
    padding: 25px 40px;
    background: #363C6A;
    border-radius: 12px;
    color: $white;
    .title-time {
        font-size: 32px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        line-height: 1.4;
        margin-bottom: 15px;
    }
    .outer {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            p {
                font-size: 18px;
                margin-bottom: 5px;
            }
            #countdown {
                ul {
                    list-style: none;
                    padding: 0;
                    display: flex;
                    margin: 0;
                    li {
                        text-align: center;
                        font-size: 18px;
                        text-transform: capitalize;
                        span {
                            display: block;
                            font-size: 40px;
                            min-width: 58px;
                            height: 48px;
                            background: #CC1818;
                            line-height: 54px;
                            border-radius: 5px;
                            margin-bottom: 5px;
                        }
                        margin-left: 20px;
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
           
        }
        .right {
            width: 300px;
            text-align: center;
            strong {
                display: block;
                margin-bottom: 15px;
                font-size: 26px;
                font-weight: 500;
            }
            .btn-style {
                width: 100%;
            }
        }
        
    }
    @include lg(){
        display: block;
        border-radius: 0;
        padding: 25px;
        margin-left: -12px;
        margin-right: -12px;
        .title-time {
            line-height: 1.1;
        }
        .outer {
            display: block;
            .left {
                #countdown {
                    ul {
                        display: flex;
                        width: 100%;
                        /* min-width: 100%; */
                        flex-wrap: wrap;
                        justify-content: space-between;
                        li {
                            margin: 0;
                            justify-content: space-between;
                        }
                    }
                }
            }
            .right{
                width: 100%;
                margin-top: 25px;
                strong {
                    margin-bottom: 5px;
                }
            }
        }
    }
}
.sidebar {
   
    width: 430px;
    .box-register {
       padding-top: 60px;
        position: sticky;
        top: 0;
        left: 0;
        .inner {
            text-align: center;
            background: $white;
            border-radius: 12px;
            box-shadow: 0 0 10px #eee;
            margin-left: 30px;
        }
        i {
            margin: -50px auto 20px auto;
        }
        h2 {
            font-size: 27px;
            font-weight: 700;
            text-align: center;
            font-family: "Roboto", sans-serif;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 20px;
            margin-bottom: 0;
            border-bottom: 1px solid #ddd;
        }
       
        ul {
            text-align: left;
            padding: 10px 25px 20px 25px;
            margin-bottom: 0;
            list-style: none;
            font-size: 16px;
            li {
                display: flex;
                margin-top: 10px;
                    
                strong {
                    width: 90px;
                    font-weight: 500;
                }
                div {
                    width: 1px;
                    flex-grow: 1;
                    font-weight: 700;
                    span {
                        font-weight: 400;
                        font-size: 16px;
                        color: #999;
                        display: block;
                    }
                }
            }
          
        }
        .btn-register {
            display: block;
            width: 100%;
            height: 60px;
            background: #74ce30;
            text-align: center;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            line-height: 60px;
            color: $white;
            font-weight: 600;
            text-decoration: none;
            color: #212121;
            &:hover {
                background: #009c4d;
            }
        }
    }
    @include lg(){
        display: none;
    }
}
.content {
    width: 1px;
    flex-grow: 1;
}
 .banner {
    width: 100%;
   max-width: 1920px;
   margin: 0 auto;
    // position: relative;
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-image: url(../images/banner/banner.jpg);
    // @include lg {
    //     background-image: url(../images/banner/banner-mobile.jpg);
    //     padding-bottom: 130%;
    // }
    .simpleParallax{
        // max-height: 100%;
        // position: relative;
        max-width: 100%;
    }
    img.desktop {
        width: 100%;
        @include lg {
            display: none;
            max-width: 100%;
        }
    }
    img.mobile {
        display: none;
        @include lg {
            display: block;
            max-width: 100%;
        }
    }
 }
 .block {
    padding: 15px 20px;
    background: $white;
    border-radius: 12px;
    box-shadow: 0 0 10px #eee;
    margin-bottom: 30px;
    p {
        .txt-purple {
            color: #3454A5;
        }
    }
    .title {
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: -20px;
        margin-right: -20px;
        font-size: 22px;
        font-weight: 700;
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
    }
    @include lg(){
        padding: 20px 8px;
        box-shadow: none;
    }
    @include sm(){
        margin-bottom: 0;
    }
 }
 .frm-confirm {
    width: 100%;
 }
 .block-intro {
    position: relative;
    z-index: 1;
    margin-top: -90px;
    padding: 25px 30px;
    background: $white;
    border-radius: 12px;
    box-shadow: 0 0 5px #eee;
    display: flex;
    margin-bottom: 30px;
    @include max-lg(){
        margin-top: -60px;
    }
    .des {
        flex-grow: 1;
        width: 1px;
        padding-left: 25px;
        margin-top: 5px;
        h1 {
            font-family: "Roboto", sans-serif;
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 20px;
        }
       
        .tool {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // margin-top: 25px;
            .outer-btn {
                .btn:first-child{
                    margin-right: 10px;
                }
            }
            .list-social {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                font-size: 15px;
                font-weight: 500;
                justify-content: center;
                margin: 0;
                width: 132px;
                li {
                    margin-left: 15px;
                    &:first-child {
                        width: 100%;
                        margin-bottom: 8px;
                        text-align: center;
                        margin-left: 5px;
                    }
                }
            }
            @include lg(){
                display: block;
                .btn  {
                    width: 100%;
                }
                .list-social {
                    margin-top: 20px;
                    width: 100%;
                    justify-content: center;
                    flex-wrap: wrap;
                    li {
                        margin: 0 7px;
                        &:first-child {
                            width: 100%;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            @include lg(){
                .outer-btn {
                    a.btn-style {
                        margin:  15px 0 0 0;
                        height: auto;
                        padding: 15px 30px;
                        line-height: 1.45;
                        span {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    @include lg(){
        margin: 0;
        padding: 20px 0;
        border-radius: 0;
        box-shadow: none;
        display: block;
        text-align: center;
        .des {
            padding: 0;
            width: 100%;
            h1 {
                margin: 20px 0;
                font-size: 32px;
            }
            .list-times {
                text-align: left;
                font-size: 20px;
                i {
                    margin-right: 5px;
                    vertical-align: middle;
                    // margin-top: -1px;
                }
            }
        }
    }
    &.block-form {
        font-size: 16px;
        width: 100%;
        max-width: 840px;
        margin-left: auto;
        margin-right: auto;
        padding: 25px 40px 35px 40px;
        h2 {
            font-family: "Roboto", sans-serif;
            font-size: 32px;
            font-weight: 700;
            padding: 20px 0;
            margin-bottom: 0;
        }
        label.form-label {
            font-weight: 700;
        }
        .form-control, .form-select{
            height: 60px;
            border-width: 2px;
        }
        .txt-s {
            font-size: 18px;
            color: #999;
            margin-top: -10px;
        }
        .btn  {
            width: 100%;
            font-weight: 500;
        }
        .style {
            .form-label {
                color: #363C6A;
                font-size: 22px;
                line-height: 1.3;
                font-weight: 600;
            }
            .container-check{
                margin-left: 13px;
            }
        }
        @include lg(){
            text-align: left;
            padding: 0;
        }
    }
    &.block-finish {
       
        display: block;
        font-size: 16px;
        width: 100%;
        max-width: 840px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        padding-bottom: 30px;
        box-shadow: none;
        .box-top{
            position: relative;
            z-index: 1;
            padding: 35px;
            background: #ffffff;
            border-radius: 12px;
            margin-bottom: 30px;
            text-align: center;
            .noti {
                margin-top: 30px;
                font-size: 32px;
                font-weight: 700;
                line-height: 1.35;
                font-family: "Roboto", sans-serif;
                span {
                    color: #6588CB;
                    display: block;
                }
            }
            p {
                font-size: 22px;
                margin-top: 20px;
                font-weight: 500;
                line-height: 1.35;
            }
           @include lg(){
           
                padding-left: 0px;
                padding-right: 0px;
            
           }
        }
        .box-info{
            padding: 35px;
            background: #F8F8F9;
            border-radius: 12px;
           
            width: 100%;
            max-width: 768px;
            margin: 0 auto 30px auto;
            h2 {
                font-size: 32px;
                font-weight: 700;
                text-align: left;
                margin-bottom: 20px;
                font-family: "Roboto", sans-serif;
            }
            .list-times  {
                li {
                    margin-bottom: 20px;
                    span {
                        font-weight: 700;
                        .txt-address {
                           
                            font-weight: 400;
                          
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                @include lg(){
                    li {
                        flex-wrap: wrap;
                        > span {
                            width: 100%;
                        }
                    }
                }
               
            }
            @include lg(){
                width: auto;
                padding-left: 18px;
                padding-right: 18px;
                margin-left: -15px;
                margin-right: -15px;
            
           }
           @include sm(){
            margin-bottom: 0;
            border-radius: 0;
            }
        }
        .btn {
            width: 100%;
            max-width: 768px;
            margin: 0 auto;
            display: block;
        }
        .block-contacts{
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
            @include sm(){
                margin-bottom: 16px;
            }
        }   
    }
 }


 .list-times {
    font-size: 22px;
    font-weight: 500;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    li {
        margin-bottom: 7px;
        display: flex;
        
        i {
            margin-right: 10px;
            margin-top: 5px;
        }
        span {
            margin-left: 5px;
            margin-left: 5px;
            flex-grow: 1;
            width: 1px;
            .txt-address {
                display: block;
                font-size: 16px;
                color: #999;
                font-weight: 400;
                margin-left: 0;
                width: 100%;
            }
        }
        &.txt-break {
            flex-wrap: wrap;
            span {
                width: 100%;
            }
        }
    }
    @include lg(){
        text-align: left;
        font-size: 20px;
        i {
            margin-right: 5px;
            vertical-align: middle;
            margin-top: -1px;
        }
    }
}

.btn-ks{
    display: flex;
    height: 64px;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    background: #fff;
    color: #242428;
    font-size: 20px;
    font-weight: 700;
    border-radius: 12px;
    text-decoration: none;
    i {
        margin-right: 8px;
    }
    &:hover {
        border-color: #242428;
    }

}
.top-countdown {

    // margin-bottom: 40px;
    padding-top: 15px;
    // margin-top: 15px;
    // border-top: 1px solid #ddd;
   > span { font-size: 18px; display: block; margin-bottom: 10px;}
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        li {
            margin-left: 20px;
            display: flex;
            align-items: start;
            font-size: 18px;
            text-transform: capitalize;
            font-weight: 500;
            span {
                // min-width: 60px;
                // height: 50px;
                line-height: 50px;
                // background: #242428;
                // color: #fff;
                // display: block;
                // text-align: center;
                font-size: 48px;
                // border-radius: 5px;
                margin-right: 5px;
                font-family: "Bebas Neue", sans-serif;
                @include max-lg(){
                    font-size: 40px;
                }
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
    @include lg(){
        margin-bottom: 20px;
        > span {
            font-weight: 700;
        }
        ul {
            justify-content: space-around;
            li {
                display: block;
                margin: 0;
                span {
                    margin-right: 0;
                }
            }
        }
    }
    @include md(){
        margin-top: 10px;
        ul {
            justify-content: center;
            li {
                padding: 0 15px;
                font-size: 18px;
               
                span {
                    font-size: 96px;
                    line-height: 96px;
                    display: block;
                    position: relative;
                    &:before {
                        position: absolute;
                        left: -27px;
                        bottom: 0;
                        content: ":";
                    }
                    
                }
                &:first-child {
                    span {
                        &::before {
                            display: none;
                        }
                    }
                }
                
            }
        }
    }
}

.right-countdown {
    padding-top: 15px;
    border-top: 1px solid #ddd;
    h3 {
        font-size: 40px;
        color: #009C4E;
        font-weight: 700;
        margin-bottom: 16px;
    }
    > strong {
        display: block;
        font-size: 22px;
        font-weight: 500;
    }
    .date {
        display: block;
        font-family: "Bebas Neue", sans-serif;
        font-size: 50px;
    }
    > p {
        display: block;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 0;
        margin-top: 10px;
    }
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        margin: 0;
        justify-content: center;
        li {
            text-align: center;
           
            // width: 60px;
            display: block!important;
            font-weight: 500;
            text-transform: capitalize;
            margin-top: 0!important;
            padding: 0 15px;
            font-size: 18px;
            span {
                display: block;
                font-family: "Bebas Neue", sans-serif;
                letter-spacing: -0.5px;
                font-size: 96px;
                line-height: 96px;
                display: block;
                position: relative;
                // font-size: 40px;
                // min-width: 60px;
                // height: 50px;
                // background: #212529;
                // line-height: 54px;
                // border-radius: 5px;
                // margin-bottom: 5px;
                // color: #fff;
                &:before {
                    position: absolute;
                    left: -27px;
                    bottom: 0;
                    content: ":";
                }
            }
            margin-left: 10px;
            &:first-child {
                margin-left: 0;
            }
            &:first-child {
                span {
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
}


.box-registers {
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    .icon-next {
        margin: 0 50px;
        width: 60px;
        height: 145px;
    }
    .item-box {
        .status {
            display: flex;
            align-items: center;
            font-size: 40px;
            font-weight: 700;
            color: #B9B9BA;
            
            span {
                font-weight: 400;
                font-size: 15px;
                border-radius: 15px;
                background: #E4E4E6;
                color: #242428;
                padding: 2px 10px;
                margin-left: 10px;
            }
            
        }
        .times {
            font-size: 20px;
            font-weight: 500;
        }
        .dates {
            font-size: 66px;
            color: #B9B9BA;
            font-family: "Bebas Neue", sans-serif;
        }
        &.active {
            .status {
                color: #009C4E;
                span {
                    background: #B0E7CC;
                    color: #05A660;
                }
            }
            .dates {
                color: #242428;
            }
        } 
    }
    @include xxl(){
        .item-box {
            .status {
                font-size: 32px;
                span {
                    font-size: 11px;
                }
            }
            .dates{
                font-size: 54px;
            }
        }
    }
    @include max-lg(){
        .item-box {
            .dates{
                font-size: 44px;
            }
        }
    }
    @include lg(){
        display: block;
        text-align: center;
        .icon-next{
            rotate: 90deg;
            margin-top: -30px;
            margin-bottom: -30px;
        }
        .item-box {
            .status {
                justify-content: center;
            }
            .dates{
                font-size: 48px;
            }
        }
    }

    @include sm(){
       text-align: left;
       .icon-next {
        margin-left: auto;
        margin-right: auto;
       display: block;
    }
        .item-box {
            .status {
                justify-content: left;
            }
            .dates{
                font-size: 48px;
            }
        }
    }
}

.wrapper-countdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .top-countdown {
        padding-right: 30px;
        @include md(){
            padding-right: 0;
        }
    }
    .tool {
        
        margin-top: 10px;
        flex-grow: 1;
        width: 1px;
       
    }
    @include lg(){
        display: block;
        .tool{
            width: 100%;
        }
    }
}
.tbl-content {
    font-size: 12px;
    margin-bottom: 10px;
   table {
    min-width: 500px;
   }
    th {
        padding-top: 15px;
        padding-bottom: 15px;
        vertical-align: middle;
        background: #D5E8C6;
        border-color: #aaa;
        color: #666;
        span {
            display: block;
        }
        strong {
            color: #212121;
        }
        .green {
            color: #009C4E;
            font-size: 16px;
        }
    }
    td {
        background: #F6F6F7;
        padding-top: 15px;
        padding-bottom: 15px;
        border-color: #aaa;
        color: #666;
        strong {
            color: #212121;
        }
        .green {
            color: #009C4E;
            font-size: 20px;
        }
    }
    tr {
        border-color: #aaa;
    }
}
.outer-img {
    padding: 10px 0;
}

.block-contacts {
    padding: 30px;
    border-radius: 12px;
    background: #EDF9D8;
    .title-contacts{
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 30px;
        img {
            max-width: 430px;
            margin-right: 20px;
        }
        .btn-style {
            max-width: 250px;
        }
    }
    .box-contacts {
        display: flex;
        >div {
            width: 50%;
            margin-top: 10px;
            font-size: 18px;
            color: #212121;
            h3 {
                font-size: 24px;
                font-weight: 700;
            }
            span {
                display: block;
                a {
                    color: #212121;
                    text-decoration: none;
                   &.email {
                    text-decoration: underline;
                   }
                }
            }
        }
    }
    @include xxl(){
        .title-contacts{
            img {
                max-width: 350px;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
        }
    }
    @include max-lg(){
        .title-contacts{
            display: block;
            img {
                max-width: 100%;
            }
            .btn-style {
                margin-top: 20px;
                width: 100%;
            }
        }
    }

    @include sm(){
       margin-left: -15px!important;
       margin-right: -15px!important;
      
       text-align: left;
        .box-contacts {
           
            display: block;
            > div {
                width: 100%;
                margin-top: 16px;
            }
        }
        .btn-style {
            max-width: 100%!important;
        }
    }
}

section > .container {
    padding-left: 15px;
    padding-right: 15px;
}



.register-modal{
    background: rgba(0, 156, 77, 0.3);
}
.modal-title{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.frm-modal {
    label.form-label {
        font-weight: 700;
    }
    .form-control, .form-select{
        height: 60px;
        border-width: 2px;
    }
    .star {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        font-weight: 600;
        font-size: 16px;
    }
    .btn-style {
        width: 100%;
    }
}
.red{
    color: red;
}

.block-age {
    .title-s{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .right-title{
            display:flex;
            .container-radio:first-child {
                margin-right: 20px;
            }
        }
    }
    .outer-age {
        padding: 20px;
        background: #D7E4FE;
        border-radius: 12px;
    }
}
.block-form{
    .type{
        font-size: 40px;
        display: block;
    }
    .star {
        font-size: 24px;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        span {
            font-size: 32px;
        }
    }
}
