.header {
   position: relative;
   z-index: 1;
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    // background: $main;
    background: linear-gradient(90deg, #E30E16 0%, #C90009 100%);
    a {
         img {
            height: 30px;
         }
    }
 }
