@import "normalize";

$main : #EE3322;
$black: #000000;
$text: #242428;
$blackgray: #939393;
$blue: #363C6A;
$white: #ffffff;
// $gradient_main : linear-gradient(to top, #001326, #00182f, #001c38, #002141, #00254b);
// $gradient_three_main : linear-gradient(to right, #39090a, #4e0e17, #651322, #7d172f, #961b3d);
// $gradient_sencond : linear-gradient(to bottom, #610011, #520029, #370f35, #181533, #001326);
// $gradient_blue : linear-gradient(to right, #225fa3, #204d8b, #1c3b73, #162b5c, #0e1b46);
// $gradient_red : linear-gradient(to right, #39090a, #4e0e17, #651322, #7d172f, #961b3d);
// $gradient_silver : linear-gradient(to right, #39090a, #4e0e17, #651322, #7d172f, #961b3d);


// .dark {
//   $black: #ffffff;
//   $blackgray: #939393;
//   $darkgray: #A1A1A1;
//   $gray: #EDEDED;
//   $green: #01B14F;
//   $red: #ED1C24;
//   $blue: #0080FF;
//   $white: #000000;
// }

@mixin xxl(){
  @media screen and (max-width: 1400px) {
    @content
  }
}

@mixin xl(){
  @media screen and (max-width: 1200px) {
    @content
  }
}

@mixin lg(){
  @media screen and (max-width: 991px) {
    @content
  }
}

@mixin max-lg(){
  @media screen and (max-width: 1080px) {
    @content
  }
}

@mixin min-xl(){
  @media screen and (min-width: 1200px) {
    @content
  }
}

@mixin min-lg(){
  @media screen and (min-width: 991px) {
    @content
  }
}

@mixin md(){
  @media screen and (max-width: 768px) {
    @content
  }
}
@mixin sm(){
  @media screen and (max-width: 540px) {
    @content
  }
}




@keyframes fadeInLeft {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
  }
}
.animate__fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

//right
@keyframes fadeInRight {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
  }
}
.animate__fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

//up
@keyframes fadeInUp {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
  }
}
.animate__fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

//down
@keyframes fadeInDown {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
  }
}
.animate__fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}


// Animation
@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

.animated-bgd {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}


@keyframes floating-arrow {
  0% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
65% {
  -webkit-transform: translate(-50%, 15px);
  transform: translate(-50%, 15px);
}
100% {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
}
.floating-arrow  {
  -webkit-animation-name: floating-arrow;
  animation-name: floating-arrow;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

/* The container */
.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.container-radio .checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #B9B9BA;
  color:  #1E1F32;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: #fff;
  border-color:  #1E1F32;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-radio .checkmark:after {
  left: 3px;
  top: 3px;
  width: 14px;
  height: 14px;
  background-color:  #1E1F32;
  border-radius: 50%;
  content: "";
 
}


/* The container */
.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.container-check .checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 2px;
  border: 2px solid #B9B9BA;
  color:  #1E1F32;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
  background-color: #fff;
  border-color:  #1E1F32;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #1E1F32;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
 
}



.green {
  color: #009C4E;
}
img {
  max-width: 100%;
}