.btn, button {
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    transition: all .2s ease-in-out 0s;
    &.btn-style {
        height: 60px;
        padding: 0 30px;
        background: #CC1818;
        color: $white;
        text-align: center;
        font-size: 20px;
        line-height: 60px;
        border-radius: 12px;
        font-weight: 600;
        .icon-vote-white {
            margin-left: 10px;
        }
        &:hover {
            background: $main;
            color: $white;
        }
        &.btn-disable {
            background: rgba($color: #1E1F32, $alpha: 0.12);
            color: #828282;
            cursor: auto;
        }
    }
   
}