.icon {
    display: inline-block;
    vertical-align: middle;
    background-size: cover!important;
    &.icon-calendar {
        width: 120px;
        height: 120px;
        background: url(../images/icon/icon-calendar.png) center no-repeat;
    }
    &.icon-date {
        width: 20px;
        height: 20px;
        background: url(../images/icon/icon-date.svg) center no-repeat;
    }
    &.icon-play {
        width: 20px;
        height: 20px;
        background: url(../images/icon/icon-play.svg) center no-repeat;
    }
    &.icon-clock {
        width: 20px;
        height: 20px;
        background: url(../images/icon/icon-clock.svg) center no-repeat;
    }
    &.icon-address {
        width: 20px;
        height: 20px;
        background: url(../images/icon/icon-location.svg) center no-repeat;
    }
    &.icon-facebook {
        width: 28px;
        height: 28px;
        background: url(../images/icon/icon-facebook.png) center no-repeat;
    }
    &.icon-ins {
        width: 28px;
        height: 28px;
        background: url(../images/icon/icon-ins.png) center no-repeat;
    }
    &.icon-tiktok {
        width: 28px;
        height: 28px;
        background: url(../images/icon/icon-tiktok.png) center no-repeat;
    }
    &.icon-ticket {
        width: 100px;
        height: 100px;
        background: url(../images/icon/icon-ticket.png) center no-repeat;
    }
    &.icon-gift {
        width: 166px;
        height: 164px;
        background: url(../images/icon/icon-gift.svg) center no-repeat;
    }
    &.icon-home {
        width: 20px;
        height: 20px;
        background: url(../images/icon/icon-home.svg) center no-repeat;
    }
    &.icon-user {
        width: 20px;
        height: 20px;
        background: url(../images/icon/icon-user.svg) center no-repeat;
    }
    &.icon-phone {
        width: 20px;
        height: 20px;
        background: url(../images/icon/icon-phone.svg) center no-repeat;
    }
    &.icon-mail {
        width: 20px;
        height: 20px;
        background: url(../images/icon/icon-mail.svg) center no-repeat;
    }
    &.icon-book {
        width: 20px;
        height: 20px;
        background: url(../images/icon/icon-book.svg) center no-repeat;
    }
    &.icon-ks {
        width: 32px;
        height: 32px;
        background: url(../images/icon/icon-ks.svg) center no-repeat;
    }
}